/* CSS kod pishite v etom faile, chotobi pri ustanovke obnovlenii ne bilo problem  */
/* --------------------------------------- */
/* Here you can put custom css rules for your site */

.project .head-block .gallery_wrap .item > .wrap {
    max-width: 672px !important;
}

/*div.detail.news {*/
    /*word-wrap: break-word*/
/*}*/

/*div.detail.news img.detail_picture {*/
    /*float: left;*/
    /*margin: 0 8px 6px 1px*/
/*}*/

/*.news-date-time {*/
    /*color: #486DAA*/
/*}*/

.detail.news img {
    width: 100%;
    /*margin: 20px auto 0;*/
    box-shadow: 0 0 10px 5px #ddd;
    border: 1px solid #ccc;
    height: auto
}

/*.detail.news .detail_picture {*/
    /*box-shadow: none;*/
    /*margin: 0 0 20px;*/
    /*border: 0*/
/*}*/

/*.detail.news p {*/
    /*font-size: 16px;*/
    /*padding-top: 5px;*/
    /*color: #2d2d2d;*/
    /*z-index: 1;*/
    /*margin: 0 0 10px*/
/*}*/

/*.detail.news h1 {*/
    /*font-family: OpenSansBold, sans-serif;*/
    /*font-size: 25px;*/
    /*text-align: left;*/
    /*line-height: 30px;*/
    /*text-transform: none;*/
    /*margin: 10px 0 0;*/
    /*padding: 2px 0 15px;*/
    /*width: 100%*/
/*}*/

/*.detail.news h2, .detail.news h3, .detail.news h4 {*/
    /*text-align: left;*/
    /*font-family: OpenSansRegular, sans-serif;*/
    /*line-height: 30px;*/
    /*font-weight: 600*/
/*}*/

/*.detail.news h2 {*/
    /*margin: 0;*/
    /*font-size: 23px*/
/*}*/

/*.detail.news h3 {*/
    /*margin: 0;*/
    /*font-size: 19px*/
/*}*/

.detail.news li p {
    margin: 0;
}

.stylized a {
    text-decoration: none;
    /*color: #2d2d2d;*/
    border-bottom: 1px solid #b5b5b5
}

.stylized a:hover {
    color: #d10d0d;
    border-bottom: 1px solid transparent
}

.stylized.button-url {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid rgba(29,124,170,0.3);
    /*color: rgba(29,124,170,0.3);*/
    text-align: center;
    padding: 1em
}

.stylized.button-url.block, .stylized.button-url.center {
    display: block;
    margin: 0 auto
}

.stylized.button-url:hover {
    color: #fff;
    background-color: rgba(29,124,170,0.3)
}

.stylized.button-url.center {
    width: 25%
}

Ol.stylized, ul.stylized {
    padding-left: 40px
}

.stylized.rlink {
    margin: 1em;
    border-radius: 10px;
    /*color: #333;*/
    font-style: italic;
    font-size: 15px;
    line-height: 15px;
    padding: 1em;
    border-left: solid #218fc4 5px;
    background: #f8f9fb
}

.stylized.tips-read {
    padding: .5em 1em 1.5em;
    position: relative;
    border: 3px solid rgba(29,124,170,0.3)
}

.stylized.tips-read > p {
    font-weight: 600;
    font-size: 1.2em
}

.stylized.tips-read ul li {
    margin: .5em 0 !important
}

.stylized.substrate-case {
    border-left: solid transparent 5px;
    padding: 1em 1em 1.5em;
    background: #f8f9fb
}

.stylized.substrate-case.main {
    border-left: solid #218fc4 5px
}

.stylized.substrate-case.important {
    border-left: solid #218fc4 5px;
    background: #fff7ae;
    color: #218fc4
}

.stylized.substrate-case.important > p, .stylized.substrate-case.main > p, .stylized.substrate-case > p {
    margin: 0 1em
}

.stylized.substrate-case.important li, .stylized.substrate-case.important p {
    color: #b16a01 !important
}

.stylized.tips-read ul, ol.stylized, ul.stylized {
    list-style: none;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: -20px;
    /*color: #2d2d2d*/
}

.stylized.tips-read ul {
    margin-left: 0
}

.stylized.tips-read ul li, ol.stylized li, ul.stylized li {
    margin: 15px 0 10px;
    padding: 0 15px;
    text-align: left;
    position: relative
}

.stylized.tips-read ul li::before, ul.stylized li::before {
    content: "•";
    color: #218fc4;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 20px;
    padding: 1px 5px 0 0
}

.stylized.substrate-case ol.stylized.circle, .stylized.substrate-case.important ol.stylized.circle, .stylized.substrate-case.main ol.stylized.circle {
    margin-left: 0
}

ol.stylized.circle {
    counter-reset: myCounter
}

ol.stylized.circle li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #218fc4;
    text-align: center;
    margin-right: 10px;
    margin-left: -44px;
    line-height: 24px;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-weight: 700;
    font-size: 15px;
    border: 2px solid #218fc4;
    border-radius: 50%
}

table.stylized {
    border-collapse: collapse;
    background: #fff;
    width: 100%;
    margin: 0 auto 1em;
    position: relative
}

table.stylized caption {
    text-align: right;
    font-size: 18px;
    color: #218fc4;
    font-weight: 700;
    padding: .5em 0
}

table.stylized td, table.stylized th {
    line-height: 1.2;
    font-weight: unset;
    padding: 1em
}

table.stylized th {
    font-size: 18px;
    background: #218fc4;
    color: #fff;
    border: 1px solid #218fc4
}

table.stylized td {
    font-size: 15px;
    color: grey;
    border: 1px solid #bdbdbd
}

table.stylized td.center, table.stylized th.center {
    text-align: center
}

table.stylized tr:nth-child(even) {
    background-color: #f5f5f5
}

.stylized.final {
    padding: .5em 1em 1.5em;
    position: relative;
    border: 3px solid #218fc4
}

.stylized.final h1, .stylized.final h2, .stylized.final h3, .stylized.final h4 {
    color: #218fc4;
    margin-top: 0
}

.detail.news .detail .errortext {
    display: none !important;
}